<a href="https://colab.research.google.com/github/laislemke/DeepLearning/blob/main/02_Python_tutorial_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python, Part 2
by [Nicolaj Stache](mailto:Nicolaj.Stache@hs-heilbronn.de), [Andreas Schneider](mailto:Andreas.Schneider@hs-heilbronn.de), Heilbronn University of Applied Sciences

This tutorial consists of three parts:

The first part is on execution control sturcturs such as if statements and loops

The second part covers functions for code reusability

And the third part deals with more Python-specific data structures such as
-  lists
-  tuples
-  sets
-  dictionaries

## 1. Control structures

This part contains examples of different control stuctures which help you to infer the underlying structure by yourself (requires a little prior knowledge of other programming languages).

Please note:
-  code is structured by indentation
-  be aware not to forget the colon (:) after a statement


### If - Elif - Else

In [ ]:
x = int(input("Please enter an integer: "))

if x < 5:
    print('x less than 5')
    if x == 0:
        print('Zero')
    elif x > 0:
         print('x is positive')
    else:
         print('x is negative')

Please enter an integer: 5

> **Task: draw a flow chart of the If-Elif-Else structure in a drawing tool and insert the picture in a markdown cell below.
    How would the chart look like without having the `else:` statement?**

### While Loop

In [ ]:
# Fibonacci series:
# the sum of two elements defines the next

# Feature: multiple assignment -> just be patient, it will become clearer in the examples on tuples below
a, b = 0, 1
while b < 100:
    print(b, end=', ') # "end" avoids a new line and prints a comma instead
    a, b = b, a+b # again, this is multiple assignment via a tuple

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

> **Task: Discuss with your neighbor how the example of Fibonacci series computation works!**

### For Loop

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
# using range()
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):  # Note: in the section on lists below, you find a more elegant way using enumerate for this task
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
print(range(10))

range(0, 10)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# Using the break statement
for n in range(2, 100):
    #print("current n:",n)
    found = True

    for x in range(2, n):
        #print("current x:",x)
        if n % x == 0:
            #print(n, 'equals', x, '*', n//x)
            found = False
            break
        elif x == n-1:
                if found == True:
                    print(n, 'is a prime number')

3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

In [ ]:
# Using the continue statement

for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [ ]:
# use pass as a placeholder.
if 2 == 2:
    pass

> **Task: Create a new markdown cell below and describe the main differences between the different types of loops. What is the difference between `break` and `continue`**

---

## 2. Functions

Wrapping code into functions has several desirable goals:

_Modularity (Decomposition):_ The complexity of developing a large program can be dealt with by breaking down the program into smaller, simpler, self-contained pieces. Each smaller piece (e.g., function) can be designed, implemented, tested, and debugged independently.

_Code reuse:_ A fragment of code that is used multiple times in a program—or by multiple programs—should be packaged in a function. The program ends up being shorter, with a single function call replacing a code fragment, and clearer, because the name of the function can be more descriptive of the action being performed by the code fragment. Debugging also becomes easier because a bug in the code fragment will need to be fixed only once.

_Encapsulation (Abstraction):_ A function hides its implementation details from the user of the function; removing the implementation details from the developer’s radar makes her job easier.

In [ ]:
def fib(n):    # write Fibonacci series up to n

    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [ ]:
f = fib
print(f(2))

0 1 1
None

In [ ]:
def brake(v0, a, tvz = 1):
    '''
    INPUTS
    v0 : initial velocity in m/s
    a  : acceleration (has to be negative for braking)
    tvz: time offset (default is 1 s of reaction time)

    OUTPUTs
    s : distance needed to stop
    t : time needed to stop
    '''

    s = v0 * tvz - (v0**2) / (2*a)
    t = tvz - v0 / a

    return s, t

# compute time to stop from 90 km/h, a= -10 m/s^2

_, time = brake(90/3.6, -10) # the distance is not of interest here

print('Time in seconds to stop from 90 km/h, a=10 m/s^2: ', time)

Time in seconds to stop from 90 km/h, a=10 m/s^2:  3.5


---

## 3. Python specific data structures

### Lists

Most similar to what other programming languages call "array" but with some added functionality.
A list is an ordered collection. The elements are mutable.
An overview on the additional features is presented here:

| Usage          | Explanation                          |
|----------------|--------------------------------------|
| `x in lst`     | `x` is an item of `lst`              |
| `x not in lst` | `x` is not an item of `lst`          |
| `lstA + lstB`  | concatenation of `lstA` and `lstB`   |
| `lst * n`      | concatenation of `n` copies of `lst` |
| `lst[i]`       | item at index `i` of `lst`           |
| `len(lst)`     | number of items in  `lst`            |
| `min(lst)`     | minimum item in `lst`                |
| `max(lst)`     | maximum item in `lst`                |
| `sum(lst)`     | sum of items in `lst`                |


Lists can be created as a comma-separated sequence of items enclosed within **square brackets**

In [ ]:
# examples of different lists

integer_list = [1, 2, 3]
heterogeneous_list = ["hello", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]

print('integer_list: ', integer_list)
print('heterogeneous_list: ', heterogeneous_list)
print('list_of_lists: ', list_of_lists)


list_length = len(integer_list) # equals 3
list_sum = sum(integer_list) # equals 6

print('list_length: ', list_length)
print('list_sum: ', list_sum)

integer_list:  [1, 2, 3]
heterogeneous_list:  ['hello', 0.1, True]
list_of_lists:  [[1, 2, 3], ['hello', 0.1, True], []]
list_length:  3
list_sum:  6

You can also index and slice lists (as already shown with strings):

In [ ]:
squares = [1, 4, 9, 16, 25]

# Indexing And Slicing
print(squares[0])  # indexing returns the item
print(squares[-1])
print(squares[-3:])  # slicing returns a new list

1
25
[9, 16, 25]

In [ ]:
# All slice operations return a new list containing the requested elements.
# This means that the following slice returns a new (shallow) copy of the list:
squares[:]

[1, 4, 9, 16, 25]

In [ ]:
# Lists also support operations like concatenation:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Lists are mutuable (unlike Strings)
cubes = [1, 8, 27, 65, 125]  # something's wrong here
cubes[3] = 64  # the cube of 4 is 64, not 65!
cubes

[1, 8, 27, 64, 125]

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [ ]:
# Length
len(letters)

7

In [ ]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [ ]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

#### "unpack" lists

In [ ]:
x, y = [1, 2]  # now x is 1, y is 2 (this is only for lists where the number of elements is known)
_, y = [1, 2]  # now y == 2, didn't care about the first element

### List's methods

len() and sum() are examples of functions that can be called with a list input argument and they can be also used with other types of input arguments

However, there are also functions that are called on a list. These funnctions are called list methods.
Example: `lst.append(8)`

| Usage                 | Explanation                                           |
|-----------------------|-------------------------------------------------------|
| `lst.append(item)`    | adds `item` to the end of `lst`                       |
| `lst.extend(lst2)`    | add `items` in `lst2` to the end of `lst`             |
| `lst.count(item)`     | returns the number of tims `item` occurs in `lst`     |
| `lst.index(item)`     | returns index of (first occurence of) `item` in `lst` |
| `lst.pop()`           | removes and returns teh last item in `lst`            |
| `lst.pop(i)`          | removes and returns elements at index `i`             |
| `lst.remove(item)`    | removes (the first occurrence of) `item` from `lst`   |
| `lst.insert(i, item)` | insert `item` at index `i`                            |
| `lst.reverse()`       | reverses the order of items in `lst`                  |
| `lst.sort()`          | sorts the items of `lst` in increasing order          |

#### Append vs. Extend

In [ ]:
x = [1, 2, 3]
x.append([4, 5])
print (x)

x = [1, 2, 3]
x.extend([4, 5])
print (x)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

#### Insert and Remove

In [ ]:
x.insert(3,999) # Insert element with value 999 at position 3
print(x)
x.remove(4)  # remove the first item in the list with the given value 4
print(x)

[1, 2, 3, 999, 4, 5]
[1, 2, 3, 999, 5]

#### count and index

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
apple_count = fruits.count('apple')
print("apples:",apple_count)
tangerine_count = fruits.count('tangerine')
print("tangerine:",tangerine_count)
find_banana_index1=fruits.index('banana') # Find next banana starting from position 0
print("index1:",find_banana_index1)
find_banana_index2 = fruits.index('banana', 4)  # Find next banana starting a position 4
print("index2:",find_banana_index2)

apples: 2
tangerine: 0
index1: 3
index2: 6

In [ ]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [ ]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [ ]:
fruits
# Remove the item at the given position in the list, and return it.
# If no index is specified, a.pop() removes and returns the last item in the list.
fruits.pop()
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange']

#### Relating lists and strings

In [ ]:
# convert a sting into a list using the split method (split at whitespace)
text = 'quod erat demonstrandum'
text_list = text.split(' ')
print(text_list)

# convert list to sting again using join method, recovering the whitespace
text_list_string = ' '.join(text_list)
print(text_list_string)

['quod', 'erat', 'demonstrandum']
quod erat demonstrandum

### List comprehensions

List comprehensions are a Pythonic way of creating and transforming lists. They are widely used. Here are some examples (source: Data Science from Scratch, O'Reilly):

In [ ]:
even_numbers = [x for x in range(5) if x % 2 == 0] # [0, 2, 4]
squares = [x * x for x in range(5)] # [0, 1, 4, 9, 16]
even_squares = [x * x for x in even_numbers] # [0, 4, 16]

zeroes = [0 for _ in even_numbers] # has the same length as even_numbers

pairs = [(x, y)
for x in range(10)
for y in range(10)] # 100 pairs (0,0) (0,1) ... (9,8), (9,9)

### Iterate over lists

Case 1: only the list entry is needed:

In [ ]:
exampleList = [1, 2, 3, 5, 7, 11]

for number in exampleList:
    print(number)

1
2
3
5
7
11

Case 2: if list entry and index is needed, use `enumerate`

In [ ]:
exampleList = [1, 2, 3, 5, 7, 11]

for i, number in enumerate(exampleList):
    print('Entry position: ', i, ' value: ', number)

Entry position:  0  value:  1
Entry position:  1  value:  2
Entry position:  2  value:  3
Entry position:  3  value:  5
Entry position:  4  value:  7
Entry position:  5  value:  11

Case 3: if index is needed, use `enumerate`

In [ ]:
exampleList = [1, 2, 3, 5, 7, 11]

for i, _ in enumerate(exampleList):
    print(i)

0
1
2
3
4
5

## Tuples

Tuples are immutable lists. They are defined by either parentheses () or even nothing.
Tuples are a convenient way to return multiple values from functions.

In [ ]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [ ]:
t

(12345, 54321, 'hello!')

In [ ]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
# a lists in a tuple
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [ ]:
# now, let's try to change a value

# we can change a list value
v[0][1] = 4
print(v)

# but we cannot change the value of the tuple
# v[1] = [2, 3, 3] # does not work

([1, 4, 3], [3, 2, 1])

In [ ]:
# tuples (and lists) can be used for multiple assignment:

x, y = 1, 2 # now x is 1, y is 2
x, y = y, x # Pythonic way to swap variables; now x is 2, y is 1

### Sets

A set is a collection of distinct elements. This means it is
-  an unordered collection of non-identical items
-  supports operations such as set membership, set union, set intersection, set difference, etc.

Example applications:
-  Remove duplicates from a list (see below) -> Warning: The order of the list changes
-  Used for quick membership tests

A set is defined using `set()` or curly braces `{ }`

Sets are mutable.

Common `set` operations:

| Operation     | Explanation                                                                   |
|---------------|-------------------------------------------------------------------------------|
| `s == t`      | `True` if sets `s`and `t` contain the same elements, `False` otherwise        |
| `s != t`      | `True` if sets `s`and `t` do not contain the same elements, `False` otherwise |
| `s <= t`      | `True` if every element of set `s` is in set `t`, `False` otherwise           |
| `s < t`       | `True` if `s <= t` and `s != t`                                               |
| <code>s &#124; t</code> | Retruns the union of sets `s`and `t`                                          |
| `s & t`       | Retruns the intersection of sets `s`and `t`                                   |
| `s - t`       | Retruns the difference of sets `s`and `t`                                     |
| `s ^ t`       | Retruns the symmetric difference of sets `s`and `t`                           |


Common `set` methods:

| Operation        | Explanation                        |
|------------------|------------------------------------|
| `s.add(item)`    | add `item` to set `s`              |
| `s.remove(item)` | remove `item` from  set `s`        |
| `s.clear()`      | removes all elements from set `s`  |

In [ ]:
a = set("abracadabra")
b = set('alacazam')

In [ ]:
a

{'a', 'b', 'c', 'd', 'r'}

In [ ]:
b

{'a', 'c', 'l', 'm', 'z'}

In [ ]:
print(a - b) # letters in a but not in b)

print(a | b) # letters in a or b or both

print(a & b) # letters in both a and b

print(a ^ b) # letters in a or b but not both

{'b', 'd', 'r'}
{'l', 'a', 'd', 'r', 'm', 'b', 'c', 'z'}
{'c', 'a'}
{'l', 'd', 'r', 'm', 'b', 'z'}

> ** Task: Figure out, what the difference between `s - t` and `s ^ t` is. **

### Dictionaries

Dictionaries are a data structure, which associates _values_ with _keys_ and allows you to quickly retrieve the value corresponding to a given key.

In a dictionary, the values are mutable, the keys are not mutable.

A dictionary is created in the form:

`dict = {'key1': valuea, 'key2': valueb ...}`

An empty dictionary is `{ }`

Common dictionary operators:

| Usage            | Explanation                          |
|------------------|--------------------------------------|
| `x in dic`       | `x` is a key in `dic`                |
| `x not in dic`   | `x` is not a key in `dic`            |
| `dic[x]`         | Item with key `x`                    |
| `len(dic)`       | Number of items in `dic`             |
| `min(dic)`       | Minimum key in `dic`                 |
| `max(dic)`       | Maximum key in  `dic`                |
| `dic[x]=v`       | Replace or add new value with key `x`|

Note: dict does not support all the operators that class list supports  (e.g. +, * are not supported)

Common dictionary methods:

| Operation      | Explanation                                                           |
|----------------|-----------------------------------------------------------------------|
| `d.items()`    | returns a list of the key, value pairs in `d`                         |
| `d.keys()`     | returns a list of the keys of `d`                                     |
| `d.pop(key)`   | removes the key, value pair with `key` from `d` and returns the value |
| `d.update(d2)` | adds the key value pairs of dictionary `d2` to `d`                    |
| `d.values()`   | returns a list of the values of `d`                                   |

In [ ]:
tel = {'simon': 4563,'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'simon': 4563, 'jack': 4098, 'sape': 4139, 'guido': 4127}

In [ ]:
tel['jack']
tel.pop('sape')
tel['irv'] = 4127
tel

{'simon': 4563, 'jack': 4098, 'guido': 4127, 'irv': 4127}

In [ ]:
print(list(tel.keys()))
print(sorted(tel.keys()))

['simon', 'jack', 'guido', 'irv']
['guido', 'irv', 'jack', 'simon']

In [ ]:
'guido' in tel

True

In [ ]:
'jack' not in tel

False

List comprehensions can also be used with dictionaries or sets:

In [ ]:
square_dict = { x : x * x for x in range(5) } # { 0:0, 1:1, 2:4, 3:9, 4:16 }

square_set = { x * x for x in [1, -1] } # { 1 }

> **Task: Explain the properties and differences of lists, tuples, sets and dictionaries to your neighbor**

> **Task:   1) write a function which reads a user input and counts the number of words.    2) output also the number of different words    3) output for each word the number of occurrences in a dictionary**